{% extends 'base.html.twig' %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Sales</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="{{ path('homepage')}}">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">Sale</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col-12">
						<!-- Default box -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">{{sale.id}}</h3>
							</div>
							<div class="card-body">
								<p>
									<strong>Date:</strong>
									{{sale.date |date('Y-m-d')}}</p>
								<p>
									<strong>Client:</strong>
									{{sale.client}}</p>
								<p>
									<strong>Final cost:</strong>
									{{sale.finalCost}}</p>
								<table class="table table-bordered">
									<thead>
									<tr>
										<th>Name</th>
										<th>Category</th>
										<th>Sale</th>
										<th>Warehouse</th>
										<th>Sell price</th>
										<th>Amount</th>
									</tr>
									</thead>
									</thdead>
									<tbody>
									{% for product in products %}
										<tr>
											<td>
												<a href="/product/show/{{product.id}}">{{ product.productName }}</a>
											</td>
											<td>
												<a href="/category/show/{{product.category.id}}">{{ product.category.description }}</a>
											</td>
											<td>
												<a href="/sale/show/{{product.invoice.id}}">Sale
													{{ product.invoice.id }}</a>
											</td>
											<td>
												<a href="/warehouse/show/{{product.invoice.warehouse.id}}">{{ product.invoice.warehouse.warehouseName }}</a>
											</td>
											<td>
												{{ product.sellPrice }}
											</td>
											<td>
												{{ product.amount }}
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>

							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<a href="/sale/edit/{{sale.id}}" class="btn btn-primary">Edit</a>
								<!--<a href="/sale/delete/{{sale.id}}" class="btn btn-danger">Delete</a>-->
							</div>
							<!-- /.card-footer-->
						</div>
						<!-- /.card -->
					</div>
				</div>
			</section><!-- /.content --></div><!-- /.content-wrapper -->{% endblock %}
	{% block stylesheets %}{}
	{% endblock %}
