{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
            class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Product</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ path('homepage') }}">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Product</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div
                            class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ product.productName }}</h3>
                            </div>
                            <div class="card-body">
                                <div style="height: 100px;width: 100px">
                                    <img src="{{ photo }}" alt="{{ product.productName }}" width="100%"/>
                                </div>
                                <p>
                                    <strong>Amount:</strong>
                                    {{ product.amount }}</p>
                                <p>
                                    <strong>Brand:</strong>
                                    {{ product.brand }}</p>
                                <p>
                                    <strong>Cost:</strong>
                                    {{ product.cost }}</p>
                                <p>
                                    <strong>Sell price:</strong>
                                    {{ product.sellPrice }}</p>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a href="/product/edit/{{ product.id }}" class="btn btn-primary">Edit</a>
                                <a href="/product/delete/{{ product.id }}" class="btn btn-danger">Delete</a>
                            </div>
                            <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
        </section><!-- /.content --></div><!-- /.content-wrapper -->{% endblock %}
	{% block stylesheets %}
    {% endblock %}
